{% extends "techno/base_generic.html" %}

{% block content %}
<h2> Summary of {{component}} </h2>

<ul>
    <li>Component Type: <a href='{% url "techno:list_compo" component.comp_type.pk %}'>{{component.comp_type}}</a></li>
    <li>Technology Name: {{component.techno}}</li>
    <li>Performances:
    <table>
    {% for perf in key_perf.all %}
        <tr><td>{{perf.key_param}}</td><td>{{perf.value}}{{perf.key_param.unit}}</td></tr>
    {% endfor %}
    </table>
    <li><a href="{{component.doi}}"> publication (external link) </a></li>
</ul>
{% endblock %}
