{% extends "base_generic.html" %}

{% block content %}
<h2> Summary of {{component}} </h2>

<ul>
    <li>Component Type: <a href='{% url "techno:list_compo" component.comp_type_id.pk %}'>{{component.comp_type_id}}</a></li>
    <li>Technology Name: {{component.techno}}</li>
    <li>Performances:
    <table>
    {% for perf in component.perf_record.all %}
        <tr><td>{{perf.name_text}}</td><td>{{perf.through.value}}{{perf.units}}</td></tr>
    {% endfor %}
    </table>
    <li><a href="{{component.doi}}"> publication (external link) </a></li>
</ul>
{% endblock %}
